body {
    background: whitesmoke;
    margin: 0;
  }
  .main_pages{
    transition: opacity .7s;
  }
  .main_pages__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
  }
  .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://cs10.pikabu.ru/post_img/2020/04/11/5/158658919225988347.webp);
    width: 100%;
    height: 50%;
  }
  .cards__wrapper{
    height: 150px;
    width: 20%;
    margin-right: 25px;
    margin-bottom: 25px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.15);
    cursor: pointer;
    background: white;
  }
  .cards__wrapper:hover{
    transition: .3s ease-in-out;
    transform: scale(1.05);
  }

  .cards__img img{
    height: 80px;
    width: 80px;
    position: relative;
    top: 40px;
    left: 35%;
    border-radius: 50%;
    border: 10px solid white;
  }
  .cards__description{
    position: relative;
    top: 90px;
    left: -20%;
  }




























.switch {
    display: inline-block;
    font-size: 20px;
    height: 2em;
    width: 5em;
    background: #BDB9A6;
    border-radius: 0.5em;
    position: absolute;
    right: 16px;
    top: 25px;
  }
  
  .switch input {
    position: absolute;
    opacity: 0;
    width: 100px;
    height: 40px;
    z-index: 5;
    cursor: pointer;
  }

  .switch div {
    height: 2em;
    width: 1.5em;
    border-radius: 0.5em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.3);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
  }

  .switch input:checked + div {
    -webkit-transform: translate3d(240%, 0, 0);
    -moz-transform: translate3d(240%, 0, 0);
    transform: translate3d(240%, 0, 0);
  }




  
  #menuToggle {
    display: block;
    position: relative;
    top: 20px;
    left: 20px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  
  #menuToggle a {
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }
  
  #menuToggle a:hover {
    color: tomato;
  }
  
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  #menu {
    position: absolute;
    width: 300px;
    height: 850px;
    margin: -110px 0 0 -28px;
    padding: 50px;
    padding-top: 125px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  
  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  
  #menuToggle input:checked ~ ul {
    transform: none;
  }